/* App container */
.app-container {
  display: flex;
  height: 100vh;
  background-color: #f0f0f0;
  overflow: hidden;
}

/* Left container (About Chatbot) */
.left-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-chatbot {
  text-align: center;
}

.about-chatbot h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-chatbot p {
  font-size: 16px;
  margin-bottom: 20px;
}

.about-chatbot input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 300px;
}

.about-chatbot button {
  background-color: #16a085;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.about-chatbot button:hover {
  background-color: #1abc9c;
  transition: background-color 0.3s;
}

/* Right container (Chatbot) */
.right-container {
  flex: 3;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Adjust styles for the Chatbot component within Chatbot.js */
